body {
    background-image: "./assets/stylesheets/style.css";
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 1.5;
    line-height: 1.5;
}

/*.container {
    
}*/

.card {
    margin: 0 auto;
    padding: 0 2em;
}

.card-body {
    text-align: center;
    max-width: 950px;
    margin: 0 auto; 
    border: 1px solid lightskyblue;
    padding: 40px 25px;
    margin-top: 50px;
}

.card-title {
    margin-top: 0.5;
    font-weight: 600;
    font-size: 1rem;
}

.card-text {
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 1.375rem;
}

.form input {
    background-color: white;
    display: flex;
    width: 100%;
    overflow: hidden; 
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.review-form {

}

.review-text {

}

.nav {

}

#login {

}

#logout {

}

#home {

}
